.App {
  text-align: center;

 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h2
{
  font-size: 40px;
}
.homepage
{
  font-size: 30px;
  float:right;

}
.profilepage
{
  font-size: 30px;
  float: right;
  margin-top: 100px;
  margin-left: 100%;

}
label
{
  font-size: 20px;
  width:200px;
  display: inline-block;
  padding:5px;
  text-align: left;
}
.loginpage
{
  
  font-size: 30px;
  color: blue;
  

}
.profilepage
{
  color:blue;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 1000px;

}
.rigsterpage
{
  font-size: 30px;
  color: brown;
  margin-right: 1000px;
}
table
{
  border-collapse: collapse;
  width: 50%;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 15px;
}
